.dropdown-button {
    display: flex;
    flex-direction: row;
    background-color: #FF6060;
    height: 52px;
    width: 582px;
    border-radius: 10px;

    img {
        width: 15.56px;
        height: 26.4px;
    }

    p {
        
    }

}