.footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;

    img {
        width: 122px;
        height: 40px;
        object-fit: cover;
        margin-top: 66px;
    }

    p {
        color: white;
        font-size: 24px;
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}