.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 63px;
    position: relative;

    @media (max-width: 785px) {
    }

    img {
        width: 90%;
        height: 223px;
        border-radius: 25px;
        background: black;
        object-fit: cover;
    }

    h1 {
        position: absolute;
        top: 25%;
        font-weight: 500;
        font-size: 48px;
        color: white;

        @media (max-width: 785px) {
            margin: 0 80px;
        }
    }
}