.headerlogement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    width: 100%;

    .pictures {
        width: 80%;
    }

    .container {
        position: relative;
    }

    .picLogement {
        width: 100%;
        height: 415px;
        margin: auto;
        object-fit: cover;
        border-radius: 25px;
    }
    

    .arrowLeft {
        position: absolute;
        left: 1%;
        top: 40%;
        transform: rotate(0deg);
        cursor: pointer;
    }

    .arrowRight {
        position: absolute;
        right: 1%;
        top: 40%;
        transform: rotate(180deg);
        cursor: pointer;
    }

    .counter {
        position: absolute;
        bottom: 5%;
        left: 50%;
        color : white;
    }
}

@media (max-width: 785px) {

    .headerlogement {
        margin-top: 150px;
    }
    .arrowLeft {
        width: 30px;
        height: 50px;
    }

    .arrowRight {
        width: 30px;
        height: 50px;
    }
}