.navigation {
    display: flex;
    flex-direction: row;
    justify-content: right;
    z-index: 1;

    a {
        color:#FF6060;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 142.6%;
        text-decoration: none;
        position: relative;
        margin: 10px;
        padding-top: 57px;
        right: 100px;

        &:first-child {
            margin-right: 57px;
        }
    }

    .active {
        &::after {
            content: '';
            position: absolute;
            bottom: 4px;
            left: 50%;
            width: 105%;
            height: 2px;
            background-color: #FF6060;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 785px) {

    .nav {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-bottom: 140px;
    }
    .navigation {
        display: block;
        position: absolute;
        right: 0%;

        a { 
            right: 5px;
            top: 35px;

            @media (max-width: 463px) {
                top: 25px;
            }
            
            &:first-child {
                margin-right: 0px;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}