.owner {
    display: flex;
    flex-direction: row;
    margin-top: 25px;

    p {
        font-weight: 500;
        font-size: 18px;
        color: #FF6060;
        width: 50%;
        margin-right: 10px;
        position: relative;
        right: -40px;
    }

    img {
        position: relative;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        right: -30px;
    }
}

@media (max-width: 1140px) {
    .owner {
        margin-top: 0px;
    }
}