.owner {
    display: flex;
    flex-direction: row;
    margin-top: 25px;

    p {
        font-weight: 500;
        font-size: 18px;
        color: #FF6060;
        width: 50%;
    }

    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-left: 10px;
    }
}